@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Bebas+Neue&family=Passion+One&family=Rubik+Glitch&family=Rubik+Wet+Paint&family=Titillium+Web&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Bebas+Neue&family=Passion+One&family=Rubik+Glitch&family=Rubik+Wet+Paint&family=Sriracha&family=Titillium+Web&display=swap');

:root {
    --fonte01: Verdana, Geneva, Tahoma, sans-serif;
    --fonte02: 'Passion One', cursive;
    --fonte03: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body {
    min-height: 100vh; /*Tamanho mínimo do html e do corpo do site*/
    background-color: darkgray;
    font-family: var(--fonte01);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps; /*O texto fica em maísculo com as primeiras letras maiores*/
    font-family: var(--fonte02);
    font-size: 10vw; /*10% da largura da tela*/
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em; /*Espaçamento duplo entre as frases*/
    padding-left: 30px;
    font-family: var(--fonte03);
    font-size: 3.5vw;
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;

}

section.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473); /*Sombra para dentro da imagem*/
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block; /*Irá se transformar em uma caixa que se adapta ao tamanho do conteúdo*/
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.514);
    text-shadow: 1px 1px ,px black ;
}

section#img01 {
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
    background-size: cover;
}

section#img02 {
    background-image: url('../imagens/background002.jpg');
    background-size: cover;
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 1.5vw;
}